{% extends 'base.html'%}

{% block body %}

    <h1 class="btn btn-warning">{{game.title}}</h1>
    <p>{{game.question}}</p>
    <hr>

    <form action="{% url 'games:answer_create' game_id=game.id %}" method="POST">
        {% csrf_token %}
        <a href="{% url 'games:choice' game_id=game.id user_choice=1 %}" class="btn btn-primary">
            {{ game.answer1 }}
        </a>
    
        <a href="{% url 'games:choice' game_id=game.id user_choice=2 %}" class="btn btn-primary">
            {{ game.answer2 }}
        </a>
    </form>


{% endblock %}

